<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GO-STORE</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="header">
    <div class="container">
      <div class="navbar">
        <div class="logo-img">
          <img src="../images/logo.png" alt="" />
        </div>

        <nav>
          <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">PRODUCTS</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">ACCOUNT</a></li>
          </ul>
        </nav>
        <img src="../images/cart.png" width="30px" height="30px">
      </div>

      <div class="row">
        <div class="columns">
          <h1>
            Give your workout <br />
            A new style !
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus
            quasi fugit ut labore veritatis aut, blanditiis aliquam, deleniti
            sint vel reiciendis necessitatibus architecto laboriosam alias
            laborum magni debitis repudiandae eius?
          </p>
          <a href="" class="btn">Explore Now &#10141</a>
        </div>
        <div class="columns">
          <img src="../images/image1.png" alt="" />
        </div>
      </div>
    </div>
  </div>

   <!-- categories  -->

   <div class="categories">
     <div class="small-container">
     <div class="row">
       <div class="column3"><img src="../images/category-1.jpg" alt=""></div>
       <div class="column3"><img src="../images/category-2.jpg" alt=""></div>
       <div class="column3"><img src="../images/category-3.jpg" alt=""></div>
     </div>
    </div>
   </div>

      <!-- featured products  -->

      <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
          <div class="column4">
            <img src="../images/product-2.jpg" alt="">
            <h4>red printed tshirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$30.50</p>
          </div>


          <div class="column4">
            <img src="../images/product-3.jpg" alt="">
            <h4>red printed tshirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$30.50</p>
          </div>



          <div class="column4">
            <img src="../images/product-1.jpg" alt="">
            <h4>red printed tshirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$30.50</p>
          </div>



          <div class="column4">
            <img src="../images/product-4.jpg" alt="">
            <h4>red printed tshirt</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-half-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>$30.50</p>
          </div>




        </div>
      </div>









  

      

  </body>
</html>
